@import '../../../constants/Variables.scss';

.notification {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 14px;
	color: white;
	text-align: center;
	z-index: 1000;
	cursor: pointer;
	opacity: 1;
	animation: slideIn 0.3s ease-in-out, fadeOut 0.5s ease-in-out 4.5s forwards;
}

.success {
	background-color: $success-color; // Зеленый оттенок
}

.error {
	background-color: $danger-color; // Красный оттенок
}

@keyframes slideIn {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
