.catalog-header {
	margin-top: 55px;
	width: 100%;
	display: flex;
	justify-content: space-between;

	.catalog-filter {
		display: flex;
		gap: 5px;
	}
	.catalog-actions {
		display: flex;
		gap: 10px;

		button {
			width: 330px;
			border-radius: 50px;
		}
	}
}
