.resetForm {
	min-width: 390px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h4 {
		margin: 10px 0 10px 0;
		font-size: 20px;
		display: flex;
		justify-content: space-between;

		button {
			text-align: right;
			color: var(--secondary-color);
			width: 100px;
			height: 30px;
			background: transparent;
			border: none;
		}
	}
	p {
		margin-bottom: 20px;
		font-size: 14px;
	}

	.error {
		color: red;
	}

	input {
		background: #f4f5f7;
		height: 50px;
		border: 10px;
		margin: 0 0 20px;
	}

	.forgetPassword {
		display: block;
		text-align: right;
		margin: 10px 0;
		color: var(--secondary-color);
	}

	button {
		width: 100%;
	}
}
